/* Theme */

:root, .default, .lightmode {
    --background-color: #eab9ce;
    --accent-color: #002d46;
    --text-color: black;
    --inverted-text-color: white;
}

.body {
    background-color: var(--background-color);
}

/* Page */

.heading {
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--accent-color);
}

.heading-text {
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    color: var(--inverted-text-color);
}

.content {
    text-align: center;
    margin-top: 2rem;
}

.error-text {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.error-content {
    margin-top: 2rem;
    display: inline-block;
    width: 50%;
}