@import url('/css/root.css');

/* Page */

.heading {
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--accent-color);
}

.heading-text {
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    color: var(--inverted-text-color);
}

.row-parent {
    padding: 2rem;
}

.contact-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn-contact-card {
    width: 6rem;
}

/* Contect Form */

.form-heading-text {
    font-size: 2rem;
}

.btn-submit {
    width: 6rem;
}

@media only screen and (max-width: 768px) {

}