/* Theme */

:root, .default, .lightmode {
    --background-color: #eab9ce;
    --accent-color: #002d46;
    --text-color: black;
    --inverted-text-color: white;
}

.body {
    background-color: var(--background-color);
}

/* Header */

.name {
    padding: 2rem;
    background-color: var(--accent-color);
    text-align: center;
}

.letters {
    text-align: center;
    padding: 0.5rem 0;
}

.letter {
    margin: 0 0.25rem;
    aspect-ratio: 1;
}