/* Theme */

:root, .default, .lightmode {
    --background-color: #eab9ce;
    --accent-color: #002d46;
    --text-color: black;
    --inverted-text-color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

/* Navbar */

.navbar {
    background-color: var(--accent-color);
}

.navbar-brand {
    transition-duration: 0.25s;
    color: var(--inverted-text-color);
}

.nav-link {
    color: var(--inverted-text-color);
    transition-duration: 0.25s;
}

#nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--background-color);
}

.active {
    color: var(--background-color);
}

.navbar-collapse {
    text-align: end;
}

.navbar-toggler {
    border: 1px solid var(--background-color);
}

.navbar-toggler-icon {
    background-image: url('/assets/root/menu.png');
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color);
}

/* Page */

.row {
    width: 100%;
    margin: 0;
}

/* Bottombar */

.bottombar {
    padding: 1rem;
}

.bottombar-socials {
    text-align: end;
}

.btn-theme {
    font-size: small;
    margin-right: 1rem;
}

.btn-theme:hover {
    background-color: var(--background-color);
    border-color: var(--background-color);
    transition-duration: 0.25s;
}

.bottombar-link {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: var(--inverted-text-color);
    transition: 0.25s;
}

.bottombar-link:hover {
    color: var(--background-color);
}

@media only screen and (max-width: 767.9px) {
    .navbar-nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }   
}