@import url('/css/root.css');

/* Page */

.heading {
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--accent-color);
}

.heading-text {
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    color: var(--inverted-text-color);
}

.row-parent {
    padding: 0.5rem 1rem 0 1rem;
}

.card-parent {
    padding-top: calc(var(--bs-gutter-x) * .5);;
    padding-bottom: calc(var(--bs-gutter-x) * .5);;
}

.card {
    width: 100%;
}

.card-img-top {
    aspect-ratio: 16/9;
}

.btn-social {
    padding-top: .3rem;
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition-duration: 0.25s;
}

.btn-social:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

@media only screen and (max-width: 768px) {
    
}