*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box ;
    background: #eab9ce;
}

/* Navbar */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    background: #002d46;
    height: 80.4px;
    width: 100%;
    display: flex;
}
ul{
    position: relative;
    background: inherit;
}
nav ul{
    float: right;
    margin-right: 20px;
    background: inherit;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    background: inherit;
}
nav ul li a{
    color: #eab9ce;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    background: inherit;
}
a.active,a:hover{
    background: #eab9ce;
    color: #002d46;
    transition: .5s;
}
.imgbox{
    color: #eab9ce;
    font-size: 50px;
    position: relative;
    width: auto;
    height: 80.4px;
    background: inherit;
    padding-top: 10px;
    padding-left: 10px;
}

/* Body */

body {
    font-family: 'Poppins', sans-serif;;
}

a {
    text-decoration: none;
}

h1 {
    color: #002d46;
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 3rem;
    padding-top: 1.5rem;
    margin-bottom: 0;
}

.h3 {
    font-family: 'Chela One', cursive;
    font-size: 2rem;
}

.content {
    padding: 0.5rem;
}

.card {
    margin-left: 2rem;
    margin-right: 2rem;
    background: #002d46;
}
.card .card-body
{
    background: #002d46;
}
.card .card-body .row{
    background: #002d46;
}
.card-body .card-body .row .col-md-2{
    background: #002d46;
}
.col-md-2{
    background: #002d46;
}
.h3{
    background: #002d46;
}
.col-md-4{
    background: #002d46;
    color: #eab9ce
}
.col-md-6{
    background: #002d46;
}
.col-md-6 span{
    background: #002d46;
    color: #eab9ce;
}

.badge {
    font-size: 1rem;
}

/* Bottombar */

.bottombar {
    padding-top: 2rem;
    background-color: #eab9ce;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottombar-brand {
    width: 40%;
    display: inline-block;
}

.bottombar-text {
    width: 50%;
    text-align: end;
    margin-right: 0.5rem;
    margin-top: 1rem;
    color: black;
}

.social-group {
    margin: 1rem 0;
}

.social-icon {
    margin: 1rem;
    color: black;
}

#fb-icon:hover {
    color: #4267B2;
    filter: var(--bottombar-filter);
}

#ig-icon:hover {
    color: #8a3ab9;
    filter: var(--bottombar-filter);
}

#tw-icon:hover {
    color: #1DA1F2;
    filter: var(--bottombar-filter);
}

#wa-icon:hover {
    color: #128C7E;
    filter: var(--bottombar-filter);
}